@font-face {
    font-family: RBlack;
    src: url('fonts/Rationell-Black.otf');
}

@font-face {
    font-family: RRegular;
    src: url('fonts/Rationell-Regular.otf');
}

@font-face {
    font-family: Heavitas;
    src: url('fonts/Heavitas.ttf');
}

$red : #CB2222;
$white : white;
$black: #161815;

$font-small: 10pt;
$font-medium: 15pt;
$font-large: 50pt;



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: RRegular, sans-serif;
    letter-spacing: 1px;
}

@media (max-width: 1920px) {

    .rregular {
        letter-spacing: 1px;
        font-family: RRegular, sans-serif;
    }

    body {
        overflow-x: hidden;
        height: 101vh;
    }

    .bg {
        width: 100vw;
        position: absolute;
        height: 720px;
        overflow: hidden;

        img {
            position: absolute;
            top: 0%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 60%;
            display: block;
            opacity: 1;
            transition: 0.7s ease;
        }

        #img2 {
            position: absolute;
        }

        #gradient {
            background: $black;
            position: absolute;
            top: 0%;
            width: inherit;
            height: 100%;
            background: radial-gradient(600px 350px at center, transparent 0, rgba(0, 0, 0, 0.85));
        }
    }


    nav {
        position: sticky;
        z-index: 99;
        // background: rgba(0, 0, 0, 0.177);
        top: 0px;
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        transition: 0.4s ease;


        .navCont {
            height: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 75%;
            border-bottom: 1.5px solid rgba(255, 255, 255, 0.204);

            span {
                display: flex;
                flex-direction: row;
                flex-basis: 15%;
                height: 100%;
                align-items: center;
                justify-content: flex-start;
                color: $white;
                gap: 10px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                letter-spacing: 1px;
                font-size: $font-small;
                cursor: pointer;

                &:hover>div {
                    width: 40px;
                    // position: relative;
                }

                div {
                    width: 17px;
                    height: 17px;
                    background: $red;
                    border-radius: 20px;
                    transition: 0.7s ease;
                    ;
                }
            }

            ul {
                display: flex;
                flex-direction: row;
                flex-basis: 70%;
                // background: green;
                height: 100%;
                align-items: center;
                justify-content: space-around;

                li {
                    list-style: none;
                    // background: orange;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    a {
                        font-size: $font-small;
                        font-family: 'Open Sans', sans-serif;
                        color: $white;
                        text-decoration: none;
                        position: relative;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        letter-spacing: 0.9px;
                    }
                    a:focus {
                        outline: none;
                    }

                    a::after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 3px;
                        background: $red;
                        transform: scaleX(0);
                        transition: transform 0.7s ease;
                        transform-origin: right;
                        left: 0%;
                        top: 100%;
                    }

                    .active::after {
                        transform: scaleX(1);

                    }

                    a:hover::after {
                        transform: scaleX(1);
                        transform-origin: left;
                    }
                }
            }

            .search {
                flex-basis: 15%;
                width: 100%;
                overflow: hidden;

                .searchCont {
                    // background: red;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    cursor: pointer;
                    gap: 10px;
                    transform: translateY(15px);
                    transition: 0.5s ease;

                    // background: red;
                    #search-field {
                        width: 150px;
                        background: transparent;
                        border-bottom: 2px solid white;
                        text-align: right;
                        border: none;
                        color: white;
                        transition: 0.5s ease-out;

                        // transform: translateY(90px);
                        &::placeholder {
                            color: rgba(255, 255, 255, 0.612);
                        }

                        &:focus {
                            outline: none;
                        }
                    }

                    input::-webkit-search-cancel-button {
                        display: none;
                    }


                    div {
                        width: 100%;
                        // background: green;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        #search-img {
                            width: 20px;
                            // background: red;
                            transition: 0.5s ease;
                            opacity: 0.5;
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }

                    div:nth-of-type(1) {
                        padding-right: 5px;
                    }

                }
            }

            .hamburger {

                display: none;
            }
        }
    }

    header {
        position: absolute;
        top: 0%;
        width: 100%;
        height: 720px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.148);

        .headerCont {
            width: 75%;
            height: 35%;
            display: flex;
            flex-direction: row;
            // align-items: center;


            .carouselCont {
                flex-basis: 90%;
                width: 100%;
                height: 75%;
                overflow: hidden;
                // background: red;
                margin-top: 0px;


                #carousel {
                    display: flex;
                    flex-direction: column;
                    gap: 29px;
                    height: 100%;
                    transition: 0.4s ease;

                    div {
                        color: white;
                        // background: red; 
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;

                        h1 {
                            margin-bottom: 20px;
                            font-size: 55px;
                            font-family: Heavitas, sans-serif;
                            font-weight: 700;
                            letter-spacing: 3px;

                        }

                        p {
                            @extend .rregular;
                            font-size: $font-small;
                            width: 100%;
                            line-height: 1.5rem;
                            font-weight: bold;
                        }
                    }
                }
            }

            div:nth-of-type(2) {
                flex-basis: 10%;
                display: flex;
                justify-content: flex-end;

                ul {
                    display: flex;
                    flex-direction: column;
                    color: white;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: bold;

                    li {
                        list-style: none;
                        font-size: 14pt;
                        position: relative;
                        padding: 5px 0px;
                        cursor: pointer;
                        transition: all 0.7s ease;
                        // background: red;
                        margin-bottom: 5px;
                        padding: 15px 10px;
                        transform-origin: center;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 20px;

                        &:hover {
                            font-size: 19pt;
                        }

                        .lineNum {
                            width: 30vw;
                            position: absolute;
                            left: 120%;
                            height: 1px;
                            background: white;
                            transform: scaleX(0);
                            transform-origin: right;
                            transition: 0.4s transform ease;
                        }

                        .activeLine {
                            transform: scaleX(1);
                        }
                    }

                    li:nth-of-type(1) {
                        letter-spacing: 3px;
                    }

                    li:after {
                        position: absolute;
                        content: "";
                        top: 50%;
                        left: 210%;
                        width: 100vw;
                        height: 1px;
                        background: white;
                        transform-origin: right;
                        transform: scaleX(0);
                        transition: 0.7s ease;
                    }
                }
            }
        }
    }

    .moreDetailed {
        position: absolute;
        // background: green;
        top: 720px;
        transform: translateY(-20%);
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to top, black 90%, transparent);


        .moreDetailedCont {
            width: 75%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            img {
                width: 50px;
                height: 47px;
                transition: 0.4s ease;
            }

            .fa {
                transition: 0.4s ease;
            }
            
            
            button {
                text-align: left;
                border: none;
                background: transparent;
                font-weight: bold;
                color: white;
                cursor: pointer;

            }

            .detail1:hover .fa, .detail2:hover .fa, .detail3:hover .fa{
                transform: translateX(10px);
            }

            .detail1,
            .detail2,
            .detail3 {
                // background: red;
                display: flex;
                //if you don't do position relative, the browser will take it that the new piece of content is being made relative to the entire screen. Change the background color to something else, and chanhge the position to absolute to see what I mean.
                position: relative;
                width: 100%;
                flex-basis: 33.3%;
                height: 100%;
                gap: 20px;
                cursor: pointer;

                &::after {
                    position: absolute;
                    content: "";
                    top: 97%;
                    left: 0%;
                    transform: translateY(-100%);
                    width: 100%;
                    height: 3px;
                    background: $red;
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: 0.4s transform ease;
                }

                &:hover::after {
                    transform-origin: left;
                    transform: scaleX(1);
                }

                #detail-1-img,
                #detail-2-img,
                #detail-3-img {
                    flex-basis: 15%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                }

                #detail-1-txt,
                #detail-2-txt,
                #detail-3-txt {
                    flex-basis: 85%;
                    gap: 20px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    font-size: 10pt;
                    color: white;
                }
            }
        }

    }

    #bottom{
        position: absolute;
        top: 100vh; 
        background: black;
        width: 100%; 
        height: 50px;
    }

}

@media (max-width: 789px) {
    nav {
        .navCont {
            .logo {
                display: flex;
                gap: 5px;
            }

            .logo>div {
                height: 15px;
                width: 15px;
            }

            .logo>span {
                font-size: 9pt;
            }

            .desktopNav {
                display: none;

                li>a {
                    font-size: 9pt;
                }
            }

            #searchCont>img {
                width: 17px;
                // background: red;
                display: none;
            }

            .hamburger {
                // background: red;
                width: 30px;
                height: 25px;
                display: block;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                justify-content: space-evenly;

                span {
                    width: 30px;
                    height: 2px;
                    background: white;
                    transition: 0.4s ease;
                }
            }
        }
    }

    .search {
        display: none;
    }

    .moreDetailed{
        display: flex; 
    }

}